/* Variables */ 
$base-font: "Source Sans Pro", sans-serif;
$base-color: #545C52;
$background-color: #777DA7;
$headline-color: #D5573B;
$hover-color: #C6ECAE;

/* Base Styles */
body {
  color: $base-color;
  margin: 0 auto;
  width: 100%;
}

/* Header */ 
header {
  background-color: $background-color;
  padding: 20px 0;

  h1 {
    color: #fff;

    a {
      font-family: $base-font;
      font-size: 35px;
    }

    a:hover {
      color: $hover-color;
    }
  }

  a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: "Times New Roman", serif;
  }

  a:hover {
    color: $hover-color;
  }
}

/* Email */ 
#email {
  padding: 20px 0;
  background-color: $headline-color;

  h2 {
    font-size: 30px;
    color: #fff;
    padding-bottom: 10px;
  }
}

/* meet */
#meet {
  padding: 20px 0;

  h2 {
    font-size: 30px;
    color: $headline-color;
    padding-bottom: 10px;
  }

  img {
    margin-bottom: 10px;
  }

  h3 {
    font-size: 25px;
    color: $base-color;
    padding-bottom: 10px;
  }
  
  button {
    margin-bottom: 25px;
    font-size: 20px;
  }
}

/* Highlight */ 
#highlight {
  padding: 20px 0;

  h2 {
    font-size: 30px;
    color: $headline-color;
    text-align: center;
    padding-bottom: 15px;
  }
  
  h3 {
    font-size: 25px;
    color: $base-color;
  }

  p {
    font-size: 20px;
    line-height: 32px;
    font-family: "Times New Roman", serif;
    padding: 15px 0;
  }

  img {
    margin: 15px 0;
  }

  button {
    font-size: 20px;
  }
}

/* Bottom Nav */ 
#bottom-nav {
  background-color: $headline-color;
  padding: 20px 0;

  h2 {
    color: #fff;
    font-size: 30px;
  }

  li {
    list-style-type: none;
    padding: 10px 0;

    a {
      font-size: 20px;
      color: #fff;
      text-decoration: none;
    }
  
    a:hover {
      color: $hover-color;
    }
  }
}

/* Footer */ 
footer {
  background-color: $background-color;
  padding: 20px 0;

  p {
    color: #fff;
    font-size: 18px;
    padding-left: 10px;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: $hover-color;
  }
}