/* Variables */ 
$base-font: "Source Sans Pro", sans-serif;
$base-color: #545C52;
$background-color: #777DA7;
$headline-color: #D5573B;
$hover-color: #C6ECAE;

/* Base Styles */
body {
    color: $base-color;
    margin: 0 auto;
    width: 100%;
    font-family: "Times New Roman", serif;
}

/* Header */ 
header {
    background-color: $background-color;
    padding: 20px 0;
  
    h1 {
      color: #fff;
      
      a {
        font-size: 40px;
        font-family: $base-font;
      }
    
      a:hover {
        color: $hover-color;
      }
    }

    a {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      font-family: "Times New Roman", serif;
    }
  
    a:hover {
      color: $hover-color;
    }
}

/* Email */ 
#email {
  padding: 20px 0;
  background-color: $headline-color;

  h2 {
    font-size: 40px;
    color: #fff;
    padding: 15px 0;
  }
}

/* meet */
#meet {
  padding: 40px 0;

  h2 {
    font-size: 40px;
    color: $headline-color;
    padding-bottom: 15px;
  }

  img {
    margin-bottom: 10px;
  }

  h3 {
    font-size: 35px;
    color: $base-color;
    padding-bottom: 10px;
  }
  
  button {
    margin-bottom: 25px;
  }
}

/* Highlight */ 
#highlight {
  padding: 40px 0;

  h2 {
    font-size: 40px;
    color: $headline-color;
    text-align: center;
    padding-bottom: 15px;
  }
  
  h3 {
    font-size: 35px;
    color: $base-color;
  }

  p {
    font-size: 20px;
    line-height: 32px;
    font-family: "Times New Roman", serif;
  }

  img {
    margin: 15px 0;
  }
}

/* Bottom Nav */ 
#bottom-nav {
  padding: 20px 0;
  background-color: $headline-color;

  h2 {
    color: #fff;
    font-size: 30px;
    padding-bottom: 15px;
  }

  ul {
    display: flex;

    li {
      list-style-type: none;
      padding-left: 20px;
  
      a {
        font-size: 20px;
        color: #fff;
        text-decoration: none;
      }
    
      a:hover {
        color: $hover-color;
      }
    }
  }
}

/* Footer */ 
footer {
  background-color: $background-color;
  padding: 20px 0;

  p {
    color: #fff;
    font-size: 18px;
    padding-left: 25px;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: $hover-color;
  }
}