/* Base Styles */
body {
  font-family: sans-serif;
}

/* Grid System */
.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/* Header */
header {
  height: 150px;
  background-color: #48D1CC;
}

header h1 {
  font-size: 50px;
  color: #006400;
  font-family: 'Source Sans Pro';
}

header nav {
  float: right;
  padding: 50px 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #006400;
  padding-left: 10px;
  font-family: 'Source Sans Pro';
}

/* Meet new members */
#meet {
  height: 500px;
}

#meet .full-width {
  padding: 70px 0;
}

#meet .third-width {
  margin-left: 55px;
  padding-top: 15px;
}

#meet h2 {
  font-size: 42px;
  font-family: 'Source Sans Pro';
  color: #006400;
  padding-left: 35px;
}

#meet img {
  width: 300px;
  padding-bottom: 15px;
}

#meet h3 {
  font-size: 32px;
}

/* Social Media Interwebs */
#interwebs {
  height: 200px;
}

#interwebs h2 {
  font-size: 42px;
  font-family: 'Source Sans Pro';
}

#interwebs nav {
  float: left;
}

#interwebs nav ul li {
  display: inline-block;
}

#interwebs nav ul li a {
  text-decoration: none;
  padding-left: 15px;
  font-size: 20px;
}

/* Bottom Navigation */
#bottom-nav {
  background-color: #006400;
  height: 70px;
}

#bottom-nav .full-width {
  padding: 15px 0;
}

#bottom-nav nav {
  float: left;
  text-align: center;
}

#bottom-nav nav ul li {
  display: inline-block;
}

#bottom-nav nav ul li a {
  text-decoration: none;
  color: #FFF;
  font-size: 15px;
  padding: 15px;
}

/* Footer */
footer {
  background: #48D1CC;
  height: 50px;
  font-size: 15px;
  color: #006400;
}
